

.player_loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:$background-loader-blue ;
    z-index: 999;
  }
.player_loader__picture {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
  }